<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <ion-row>
        <ion-title color="">ShopCracker</ion-title>
<!--        <img src="assets/images/logo.png" width="40%"/>-->
<!--        <ion-col col-md-6></ion-col>-->
<!--        <ion-icon name="settings"></ion-icon>-->
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prices">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Prices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop-demo">
      <ion-icon name="card"></ion-icon>
      <ion-label>Shop Now</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
