<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="/assets/images/slides/1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/slides/2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/slides/3.jpg" alt="" />
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to ShopCracker App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Shop Cracker App is a app that can view the prices of everything in the Super market.</p>
    </ion-card-content>
  </ion-card>



</ion-content>
